.page-header{
    margin-bottom: 2rem;
}

.page-title{
    padding: 0;
    margin: 0;
}

.page-title.with-abstract{
    margin-bottom: 0.8rem;
}

.page-abstract{
    font-style: italic;
    margin-bottom: 0;
}

.clickable{
    cursor: pointer;
}

TH.small,
TD.small{
    width: 1%;
}

TH.align-right,
TD.align-right{
    text-align: right;
}

TH.align-center,
TD.align-center{
    text-align: center;
}

.monospace{
    font-family: monospace;
}

SMALL.s{
    font-size: 0.7rem;
}

SMALL.xs {
    font-size: 0.6rem;
}

IMG.thumbnail{
    width: 30rem;
    display: inline-block;
    margin: 0.1rem;
    border: solid 1px #000;
    border-radius: 3px;
}

.previews{
    padding-top: 1rem;
}